@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: cornsilk;
  background-image: url('./业务综合分析.png');
  background-repeat: no-repeat;
  background-position: center;
}

.p{
  background-color: red;
  color: white;
  background-image: url('./041_榜单.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}